absl-py
accelerate
-e git+https://github.com/FFY0/AdaKV.git@04497abac4c1a58426f3daf1014578990e225cc5#egg=adakv
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
anyio
asttokens
async-timeout
attrs
bitsandbytes
certifi
charset-normalizer
click
cmake
comm
cuda-bindings
cuda-pathfinder
datasets
debugpy
decorator
dill
einops
exceptiongroup
executing
filelock
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.4.0.post1/flash_attn-2.4.0.post1+cu118torch2.0cxx11abiFALSE-cp310-cp310-linux_x86_64.whl#sha256=21e4cb24d9047451f89a81e4ebe1d067de45c650cdd3acc991ebe606bbd2a789
frozenlist
fsspec
fuzzywuzzy
h11
hf-xet
httpcore
httpx
huggingface_hub
icetk
idna
ipykernel
ipython
jedi
jieba
Jinja2
joblib
jupyter_client
jupyter_core
Levenshtein
lit
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mpmath
multidict
multiprocess
nest-asyncio
networkx
ninja
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyarrow-hotfix
Pygments
python-dateutil
python-Levenshtein
pytz
PyYAML
pyzmq
RapidFuzz
regex
requests
rich
rouge
rouge_score
safetensors
scipy
sentencepiece
shellingham
six
stack-data
sympy
tiktoken
tiny_pkg
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
typer
typer-slim
typing_extensions
tzdata
urllib3
wcwidth
xxhash
yarl
